* {
  margin: 0;
}

.navbar {
  min-height: 75px;
}



.navbar-item {
  width: 180px;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
  position: static;
}

.navbar-select {
  z-index: 200;
  height: 50px;
  overflow: visible;
  cursor: pointer;
  position: relative;
  top: 8px;
}

.navbar-select:last-of-type {
 border-bottom: 1px solid black;
}

.navbar-select:first-of-type {
  margin-top: 5px;

}


.navbar-select:hover {
  color: dodgerblue;
}

#register_modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
/*
.navbar-selected {
  border: 1px solid black !important;
  background-color: #fff;
  z-index: 200;
  border-radius: 5px;
  position: relative;
} */

.navbar-selected {
  border-left: 1px solid black !important;

  background-color: #fff;
  z-index: 200;
  border-radius: 5px;
  position: relative;
  padding: 8px;
}


.navbar-selected-top:hover{
  color: dodgerblue;
}

.modal-push{
  text-align: center;
  vertical-align: middle;
  min-width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 5px 20px 5px 20px;
  font-size: 1.3em;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  background-color: orange;
}

.modal-push:hover {
  background-color: blue;
  color: orange;
}

@media(max-width: 768px) {
  .nav-tabs {
    border-bottom: none;
  }

}

/* div {
  transition: background-color 0.5s ease;
  background-color: red;
}
div:hover {
  background-color: green;
} */