.tweet {
  border: 1px solid #ccc;
  min-height: 68px;
  padding: 10px;
  display: flex;
  font-family: "Helvetica", arial, sans-serif; font-size: 14px;
  line-height: 18px;
  }

  .avatar {
    width: 48px; height: 48px; border-radius: 5px; margin-right: 10px;
  }

  .name {
    font-weight: bold; margin-bottom: 0.5em; margin-right: 0.3em;
  }

  .handle {
  color: #8899a6; font-size: 13px;
  }

  .time {
    padding-left: 0.3em; color: #8899a6;
  }

  .time::before { content: "\00b7"; padding-right: 0.3em;

  }

  .buttons { margin-top: 10px; margin-left: 2px; font-size: 1.4em; color: #aab8c2;
  }

  .buttons i {
    width: 80px;
  }

  .vertical-placeholder {
    height: 100vh;
    background-color: lightseagreen;
  }

  .user-img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    margin: -30px auto 0px auto
  }

  #left {
    margin-top: 30px;
  }

  .user-card-numbers-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .user-card-half-border {
    width: 1px;
    height: 25px;
    background-color:#fff;
    border-left: 1px solid rgba(0,0,0,.125);
  }

  .user-card-numbers-text:hover {
    cursor: pointer;
  }

  .user-card-latest:hover {
    cursor: pointer;
  }

  .user-card-latest {
    margin-left: -7px;
  }

  .study-log-left {
    display: flex;
    justify-content: space-between;
    margin-left: 9px;
  }

  .activity-card {
    margin-top: 20px;
  }

  .upcoming-sessions-items {
    color: black;
    font-size: 1em;

  }

  .upcoming-sessions-items:hover {
    color: black;
    text-decoration: none;
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: center;
  }

  .card-title {
    margin-top: 5px;
  }

  .session_cards {
    margin-top: 38px;
  }

  .search-button{
    display: flex;
    height: 38px;
  }

  .searchButton {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }

  .searchTerm:focus{
    color: #00B4CC;
  }

  .searchForm {
    margin-top: 48px;
  }

  .studySessions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
  }

